<a class="btn btn-primary" role="button" href="{{ path('idea_proposition_new') }}" style="margin-top: 10px;">Créer une idée</a>
{{ form_start(form, {attr: {class: 'filter'}}) }}
    {{ form_row(form.q) }}
    
    <button type="submit" class="btn btn-primary w-100">Filtrer</button>
{{ form_end(form) }}