{% extends 'base.html.twig' %}

{% block title %}Edit IdeaProposition{% endblock %}

{% block body %}
    <h1>Edit IdeaProposition</h1>

    {{ include('idea_proposition/form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('idea_proposition_index') }}">back to list</a>

    {{ include('idea_proposition/delete_form.html.twig') }}
{% endblock %}
