{% extends 'base.html.twig' %}

{% block title %}IdeaProposition index{% endblock %}

{% block body %}
    <h1>{{ 'idea_index.title'|trans }}</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                {% include 'idea_proposition/_filter.html.twig' with {form: form, min: min, max: max} only%}
            </div>
            <div class="col-md-10">
                <div id="displayDate" class="grid">
                    {% for idea_proposition in idea_propositions %}
                        {%include 'idea_proposition/_quentinCard.html.twig' %}
                    {% else %}
                </div>
            </div>
                <tr>
                    <p colspan="7">{{ 'idea_index.no_result'|trans }}</p>
                </tr>
              
            {% endfor %}
        <div style="margin-top: 4rem;">
            {{ knp_pagination_render(idea_propositions)}}
        </div>
    </div>

    <a href="{{ path('idea_proposition_new') }}">créer une nouveaulle idée</a>
{% endblock %}
