{% extends 'base.html.twig' %}

{% block title %}IdeaProposition index{% endblock %}
{% block body %}
    
        <h1 class="my-3">Nos idée</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p>salut</p>

                </div>
                <div class="col-md-9">
                    
                        {% for idea_proposition in idea_propositions %}
                            
                                <div class="border border-dark rounded p-2">
                                    <img width="400rem" height="400rem" src=" /uploads/images/featured/{{ idea_proposition.featuredImage }}"></img>
                                
                                    <h5 class="card-title">{{ idea_proposition.title}}</h5>
                                
                                    <p>{{ idea_proposition.totalScore }}</p>

                                    

                                </div>

                            
                        {% endfor %}
                          
                                  
                
                </div>
            </div>
        </div>
    </div>
{% endblock %}

































   