{% extends 'base.html.twig' %}

{% block title %}IdeaProposition index{% endblock %}
{% block body %}
    
        <h1 class="my-3">Nos idée</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p>salut</p>

                </div>
                <div class="face face2">
                    <div class="content">
                        <p>{{ idea_proposition.content }}</p>
                        <a href="{{ path('idea_proposition_show', {'id': idea_proposition.id}) }}">Read More</a>
                        <p id="avg">Moyenne: {{ idea_proposition.avg }}</p>
                        <p id="user"> {{idea_proposition.user }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

































   