{% extends 'base.html.twig' %}

{% block title %}New IdeaProposition{% endblock %}

{% block body %}
    <h1>Create new IdeaProposition</h1>

    {{ include('idea_proposition/_form.html.twig') }}

    <a href="{{ path('idea_proposition_index') }}">back to list</a>
{% endblock %}
