{% extends 'base.html.twig' %}

{% block title %}New IdeaProposition{% endblock %}

{% block body %}
    <h1>création d'une nouvelle idée</h1>

    {{ include('idea_proposition/form.html.twig') }}

    <a href="{{ path('idea_proposition_index') }}">voir tout les idées</a>
{% endblock %}
