{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
<div id="onclick" style="display: none;"></div>
    <div data-room_id={{ room.id }} id="root"></div>
    {% include "chat/_messageform.html.twig" %}
{% endblock %}



