{% extends 'base.html.twig' %}

{% block title %}Creer room{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="container">
        <h1>Créer une nouvelle room</h1>
        {{ include('chat/_form.html.twig') }}
        <a role="button" class="btn btn-outline-danger" href="#">Revenir à la selection des Room</a>
    </div>
</div>
{% endblock %}
